.form-element{
  padding:2px;
}
.mat-elevation-z8
{
  margin-top:0;
}
.example-card {
  margin: 100px;
  max-width: 500px;
}
.container{
  text-align: center;
  width: 100%;
  height: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  }
  #btn{
  font-size: 25px;
  }
