<div class="mat-elevation-z1">
  <table mat-table>
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Number</th>
    </thead>
    <tbody>
      <tr>
        <td>{{ firstname }}</td>
      <td>{{ firstname }}</td>
      <td>{{ firstname }}</td>
      <td>{{ firstname }}</td>
      </tr>
    </tbody>
  </table>
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
  >
  </mat-paginator>
</div>
<div class="container">
  <button (click)="fireEvent()" mat-raised-button color="primary">Show</button>
</div>


